.mediaViewInfo {
	--web-view-name: iPhone 12, 12 Pro – 8;
	--web-view-id: iPhone_12_12_Pro__8;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_12_12_Pro__8;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_12_12_Pro__8 {
	position: absolute;
	width: 390px;
	height: 3366px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone 12, 12 Pro – 8;
	--web-view-id: iPhone_12_12_Pro__8;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#matthew-osborn-wMRIcT86SWU-uns {
	fill: rgba(250,250,255,1);
}
.matthew-osborn-wMRIcT86SWU-uns {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 723px;
	left: 0px;
	top: 121px;
}
#Our_Vacancies {
	left: 28px;
	top: 895.965px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -22.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(34,34,34,1);
	text-transform: capitalize;
}
#Match4markets_operates_from_Le {
	left: 28px;
	top: 938.965px;
	position: absolute;
	overflow: visible;
	width: 327.476px;
	height: 104.415771484375px;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(83,83,83,1);
}
#Rectangle_865 {
	fill: rgba(255,255,255,1);
}
.Rectangle_865 {
	position: absolute;
	overflow: visible;
	width: 392px;
	height: 121px;
	left: -2px;
	top: 0px;
}
#Groupe_18798 {
	position: absolute;
	width: 19px;
	height: 20px;
	left: 345.5px;
	top: 51px;
	overflow: visible;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: iPhone_12__12_Pro___3.html;
	cursor: pointer;
}
#Ligne_26 {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_26 {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 2.5px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_27 {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_27 {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 2.5px;
	left: 0px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_28 {
	fill: transparent;
	stroke: rgba(34,34,34,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_28 {
	overflow: visible;
	position: absolute;
	width: 21.5px;
	height: 2.5px;
	left: 0px;
	top: 20px;
	transform: matrix(1,0,0,1,0,0);
}
#Always_Looking_for_New_Talent {
	left: 28px;
	top: 560.587px;
	position: absolute;
	overflow: visible;
	width: 331px;
	height: 83px;
	line-height: 40px;
	margin-top: -5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(69,98,219,1);
}
#Match4markets_opereert_in_een_ {
	left: 28px;
	top: 654.587px;
	position: absolute;
	overflow: visible;
	width: 325.739px;
	height: 153px;
	line-height: 26px;
	margin-top: -5.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(34,34,34,1);
}
#Vacancies {
	left: 28px;
	top: 532px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(181,181,181,1);
}
#Groupe_18812 {
	position: absolute;
	width: 375px;
	height: 392px;
	left: 15px;
	top: 121px;
	overflow: visible;
}
#Rectangle_856 {
	fill: rgba(250,250,255,1);
}
.Rectangle_856 {
	position: absolute;
	overflow: visible;
	width: 299px;
	height: 392px;
	left: 76px;
	top: 0px;
}
#magnet-me-LDcC7aCWVlo-unsplash {
	position: absolute;
	width: 261px;
	height: 261px;
	left: 61px;
	top: 55px;
	overflow: visible;
}
#austin-distel-wawEfYdpkag-unsp {
	fill: rgba(69,98,219,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.austin-distel-wawEfYdpkag-unsp {
	filter: drop-shadow(0px 20px 50px rgba(69, 98, 219, 0.22));
	width: 38px;
	height: 37px;
	position: absolute;
	overflow: visible;
	transform: translate(223.781px, -311px) matrix(1,0,0,1,-224.2815,366.5) rotate(90deg);
	transform-origin: center;
}
#austin-distel-wawEfYdpkag-unsp_ {
	fill: rgba(69,98,219,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.austin-distel-wawEfYdpkag-unsp_ {
	filter: drop-shadow(0px 20px 50px rgba(69, 98, 219, 0.22));
	width: 29px;
	height: 29px;
	position: absolute;
	overflow: visible;
	transform: translate(223.781px, -311px) matrix(1,0,0,1,-176.7815,395) rotate(90deg);
	transform-origin: center;
}
#austin-distel-wawEfYdpkag-unsp_ba {
	fill: rgba(69,98,219,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.austin-distel-wawEfYdpkag-unsp_ba {
	filter: drop-shadow(0px 40px 50px rgba(69, 98, 219, 0.098));
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 216px;
	left: 289px;
	top: 276px;
}
#Groupe_dfilant_2 {
	mix-blend-mode: normal;
	position: absolute;
	width: 389px;
	height: 506.191px;
	left: 0.5px;
	top: 1014.563px;
	overflow: hidden;
}
#Composant_11__4 {
	position: absolute;
	width: 310px;
	height: 390.191px;
	left: 669px;
	top: 58px;
	overflow: visible;
}
#Rectangle_692 {
	fill: rgba(255,255,255,1);
	stroke: rgba(234,234,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_692 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 390.191px;
	left: 0px;
	top: 0px;
}
#Rectangle_696 {
	fill: rgba(155,155,155,1);
}
.Rectangle_696 {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 193.226px;
	left: 0px;
	top: 0px;
}
#Full_Stack_Developer {
	left: 17px;
	top: 210.342px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -25px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(34,34,34,1);
}
#We_are_immediately_looking_for {
	left: 17px;
	top: 242.342px;
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
}
#Composant_3__3 {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 18px;
	top: 314.458px;
	overflow: visible;
}
#Rectangle_684 {
	fill: rgba(255,255,255,1);
	stroke: rgba(69,98,219,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_684 {
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Contact_Us {
	left: 93.5px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -27px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(69,98,219,1);
}
#Composant_11__5 {
	position: absolute;
	width: 310px;
	height: 390.191px;
	left: 15px;
	top: 58px;
	overflow: visible;
}
#Rectangle_692_bi {
	fill: rgba(255,255,255,1);
	stroke: rgba(234,234,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_692_bi {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 390.191px;
	left: 0px;
	top: 0px;
}
#Rectangle_696_bj {
	fill: rgba(155,155,155,1);
}
.Rectangle_696_bj {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 193.226px;
	left: 0px;
	top: 0px;
}
#Full_Stack_Developer_bk {
	left: 17px;
	top: 210.342px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -25px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(34,34,34,1);
}
#We_are_immediately_looking_for_bl {
	left: 17px;
	top: 242.342px;
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
}
#Composant_3__3_bm {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 18px;
	top: 314.458px;
	overflow: visible;
}
#Rectangle_684_bn {
	fill: rgba(255,255,255,1);
	stroke: rgba(69,98,219,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_684_bn {
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Contact_Us_bo {
	left: 93.5px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -27px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(69,98,219,1);
}
#Composant_11__6 {
	position: absolute;
	width: 310px;
	height: 390.191px;
	left: 342px;
	top: 58px;
	overflow: visible;
}
#Rectangle_692_bq {
	fill: rgba(255,255,255,1);
	stroke: rgba(234,234,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_692_bq {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 390.191px;
	left: 0px;
	top: 0px;
}
#Rectangle_696_br {
	fill: rgba(155,155,155,1);
}
.Rectangle_696_br {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 193.226px;
	left: 0px;
	top: 0px;
}
#Full_Stack_Developer_bs {
	left: 17px;
	top: 210.342px;
	position: absolute;
	overflow: visible;
	width: 206px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -25px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(34,34,34,1);
}
#We_are_immediately_looking_for_bt {
	left: 17px;
	top: 242.342px;
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
}
#Composant_3__3_bu {
	position: absolute;
	width: 275px;
	height: 55px;
	left: 18px;
	top: 314.458px;
	overflow: visible;
}
#Rectangle_684_bv {
	fill: rgba(255,255,255,1);
	stroke: rgba(69,98,219,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_684_bv {
	position: absolute;
	overflow: visible;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Contact_Us_bw {
	left: 93.5px;
	top: 16px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -27px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(69,98,219,1);
}
#Groupe_18813 {
	position: absolute;
	width: 142.188px;
	height: 1px;
	left: 123.906px;
	top: 1504px;
	overflow: visible;
}
#Trac_57992 {
	fill: transparent;
	stroke: rgba(69,98,219,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_57992 {
	overflow: visible;
	position: absolute;
	width: 26.763px;
	height: 5px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_57993 {
	fill: transparent;
	stroke: rgba(227,227,227,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_57993 {
	overflow: visible;
	position: absolute;
	width: 26.763px;
	height: 5px;
	left: 39.899px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_57994 {
	fill: transparent;
	stroke: rgba(227,227,227,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_57994 {
	overflow: visible;
	position: absolute;
	width: 26.763px;
	height: 5px;
	left: 80.524px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_57995 {
	fill: transparent;
	stroke: rgba(227,227,227,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_57995 {
	overflow: visible;
	position: absolute;
	width: 26.763px;
	height: 5px;
	left: 120.425px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Composant_9__4 {
	position: absolute;
	width: 390px;
	height: 1750px;
	left: 0px;
	top: 1592px;
	overflow: visible;
}
#Rectangle_871_b {
	fill: url(#Rectangle_871_b);
}
.Rectangle_871_b {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 1401px;
	left: 0px;
	top: 0px;
}
#Groupe_18816 {
	position: absolute;
	width: 359px;
	height: 1038px;
	left: 16px;
	top: 257px;
	overflow: visible;
}
#Rectangle_4 {
	fill: rgba(255,255,255,1);
}
.Rectangle_4 {
	filter: drop-shadow(0px 20px 99px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 656px;
	height: 1335px;
	left: 0px;
	top: 0px;
}
#Composant_7__44 {
	position: absolute;
	width: 315px;
	height: 65px;
	left: 22px;
	top: 72px;
	overflow: visible;
}
#Rectangle_103 {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103 {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Name {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__45 {
	position: absolute;
	width: 315px;
	height: 65px;
	left: 22px;
	top: 156px;
	overflow: visible;
}
#Rectangle_103_cb {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_cb {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Email_address {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Fill_Form {
	left: 24px;
	top: 25.5px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -25px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(34,34,34,1);
}
#Composant_7__53 {
	position: absolute;
	width: 315px;
	height: 65px;
	left: 24px;
	top: 241px;
	overflow: visible;
}
#Rectangle_103_cf {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_cf {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Country {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__54 {
	position: absolute;
	width: 315px;
	height: 65px;
	left: 24px;
	top: 325px;
	overflow: visible;
}
#Rectangle_103_ci {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_ci {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#City {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__55 {
	position: absolute;
	width: 315px;
	height: 65px;
	left: 24px;
	top: 409px;
	overflow: visible;
}
#Rectangle_103_cl {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_cl {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Job_Offer {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Groupe_18686 {
	position: absolute;
	width: 315px;
	height: 81px;
	left: 24px;
	top: 516px;
	overflow: visible;
}
#Rectangle_698 {
	fill: rgba(245,247,255,1);
	stroke: rgba(91,126,240,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 10;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_698 {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 81px;
	left: 0px;
	top: 0px;
}
#Upload_Document {
	left: 100.618px;
	top: 29.222px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(69,98,219,1);
}
#Groupe_18686_cq {
	position: absolute;
	width: 33.578px;
	height: 33.578px;
	left: 44.382px;
	top: 24.841px;
	overflow: visible;
}
#Trac_59115 {
	fill: transparent;
}
.Trac_59115 {
	overflow: visible;
	position: absolute;
	width: 33.578px;
	height: 33.578px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59116 {
	fill: transparent;
	stroke: rgba(69,98,219,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_59116 {
	overflow: visible;
	position: absolute;
	width: 30.268px;
	height: 20.272px;
	left: 3.212px;
	top: 6.924px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59117 {
	fill: transparent;
	stroke: rgba(69,98,219,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_59117 {
	overflow: visible;
	position: absolute;
	width: 11.223px;
	height: 6.611px;
	left: 12.592px;
	top: 16.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_25 {
	fill: transparent;
	stroke: rgba(69,98,219,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_25 {
	overflow: visible;
	position: absolute;
	width: 2px;
	height: 14px;
	left: 16.789px;
	top: 16.789px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_18819 {
	position: absolute;
	width: 315px;
	height: 174px;
	left: 24px;
	top: 616px;
	overflow: visible;
}
#Rectangle_872 {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_872 {
	position: absolute;
	overflow: visible;
	width: 315px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#Enter_Description_here_ {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Groupe_18820 {
	position: absolute;
	width: 283px;
	height: 55px;
	left: 24px;
	top: 817px;
	overflow: visible;
}
#Rectangle_700 {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_700 {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#I_agree_that_M4M_will_keep_my_ {
	left: 43px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 241px;
	white-space: nowrap;
	line-height: 28px;
	margin-top: -6px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(34,34,34,1);
}
#Composant_3__13 {
	position: absolute;
	width: 310px;
	height: 65px;
	left: 24px;
	top: 939.346px;
	overflow: visible;
}
#Rectangle_684_da {
	fill: url(#Rectangle_684_da);
}
.Rectangle_684_da {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Join_Our_Team {
	left: 93.5px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -27px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Groupe_18817 {
	position: absolute;
	width: 390px;
	height: 349px;
	left: 0px;
	top: 1401px;
	overflow: visible;
}
#Rectangle_864 {
	fill: rgba(48,47,101,1);
}
.Rectangle_864 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 308px;
	left: 0px;
	top: 0px;
}
#Lorem_Ipsum_is_simply_dummy_te {
	left: 30px;
	top: 83px;
	position: absolute;
	overflow: visible;
	width: 332px;
	height: 88px;
	line-height: 22px;
	margin-top: -4px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Logo_here {
	opacity: 0.278;
	left: 30px;
	top: 33px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Groupe_18797 {
	position: absolute;
	width: 210px;
	height: 54px;
	left: 30px;
	top: 221px;
	overflow: visible;
}
#Rectangle_353 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_353 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#Rectangle_354 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_354 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 77px;
	top: 0px;
}
#Rectangle_355 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_355 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 156px;
	top: 0px;
}
#facebook_1 {
	fill: rgba(255,255,255,1);
}
.facebook_1 {
	overflow: visible;
	position: absolute;
	width: 9.53px;
	height: 19.059px;
	left: 23.028px;
	top: 17.471px;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin {
	position: absolute;
	width: 19.059px;
	height: 19.059px;
	left: 96.029px;
	top: 17.471px;
	overflow: visible;
}
#Trac_1002 {
	fill: rgba(255,255,255,1);
}
.Trac_1002 {
	overflow: visible;
	position: absolute;
	width: 12.317px;
	height: 13.044px;
	left: 6.741px;
	top: 6.015px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1003 {
	fill: rgba(255,255,255,1);
}
.Trac_1003 {
	overflow: visible;
	position: absolute;
	width: 3.951px;
	height: 12.724px;
	left: 0.314px;
	top: 6.334px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1004 {
	fill: rgba(255,255,255,1);
}
.Trac_1004 {
	overflow: visible;
	position: absolute;
	width: 4.577px;
	height: 4.599px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	position: absolute;
	width: 22.48px;
	height: 18.265px;
	left: 173.541px;
	top: 18.265px;
	overflow: visible;
}
#Groupe_617 {
	position: absolute;
	width: 22.48px;
	height: 18.265px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1005 {
	fill: rgba(255,255,255,1);
}
.Trac_1005 {
	overflow: visible;
	position: absolute;
	width: 22.479px;
	height: 18.265px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2021_Match4Markets {
	left: 106px;
	top: 326px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(38,38,38,1);
}
#Groupe_18800 {
	position: absolute;
	width: 54px;
	height: 54px;
	left: 317px;
	top: 221px;
	overflow: visible;
}
#Rectangle_869 {
	opacity: 0.1;
	fill: rgba(255,255,255,1);
}
.Rectangle_869 {
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.18));
	position: absolute;
	overflow: visible;
	width: 114px;
	height: 114px;
	left: 0px;
	top: 0px;
}
#Groupe_18800_do {
	position: absolute;
	width: 29.455px;
	height: 29.455px;
	left: 12.272px;
	top: 12.272px;
	overflow: visible;
}
#Trac_59615 {
	fill: transparent;
}
.Trac_59615 {
	overflow: visible;
	position: absolute;
	width: 29.454px;
	height: 29.455px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_29 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_29 {
	overflow: visible;
	position: absolute;
	width: 1.5px;
	height: 19.5px;
	left: 14.728px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_30 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_30 {
	overflow: visible;
	position: absolute;
	width: 7.121px;
	height: 7.121px;
	left: 14.728px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_31 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_31 {
	overflow: visible;
	position: absolute;
	width: 7.121px;
	height: 7.121px;
	left: 9.728px;
	top: 5.728px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_18819_dt {
	position: absolute;
	width: 367px;
	height: 163px;
	left: 12px;
	top: 1643px;
	overflow: visible;
}
#Open_application {
	left: 50px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -20px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#The_match4markets_team_is_mult {
	left: 0px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 102px;
	line-height: 24px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Composant_19__3 {
	position: absolute;
	width: 177.792px;
	height: 19.76px;
	left: 21px;
	top: 50.62px;
	overflow: visible;
}
#Union_1_dy {
	fill: url(#Union_1_dy);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Union_1_dy {
	overflow: visible;
	position: absolute;
	width: 138.807px;
	height: 20.76px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_18822 {
	position: absolute;
	width: 37.506px;
	height: 19.403px;
	left: 140.286px;
	top: 0.178px;
	overflow: visible;
}
#Trac_59624 {
	fill: rgba(59,59,59,1);
}
.Trac_59624 {
	overflow: visible;
	position: absolute;
	width: 13.151px;
	height: 19.403px;
	left: 24.354px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59625 {
	fill: rgba(59,59,59,1);
}
.Trac_59625 {
	overflow: visible;
	position: absolute;
	width: 13.151px;
	height: 19.403px;
	left: 11.471px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_877 {
	fill: rgba(59,59,59,1);
}
.Rectangle_877 {
	position: absolute;
	overflow: visible;
	width: 10.628px;
	height: 1.902px;
	left: 1.89px;
	top: 5.69px;
}
#Rectangle_878 {
	fill: rgba(59,59,59,1);
}
.Rectangle_878 {
	position: absolute;
	overflow: visible;
	width: 7.518px;
	height: 1.779px;
	left: 0px;
	top: 8.891px;
}
#Rectangle_879 {
	fill: rgba(59,59,59,1);
}
.Rectangle_879 {
	position: absolute;
	overflow: visible;
	width: 4.941px;
	height: 1.654px;
	left: 2.575px;
	top: 11.969px;
}
#Trac_59626 {
	fill: rgba(59,59,59,1);
}
.Trac_59626 {
	overflow: visible;
	position: absolute;
	width: 10.396px;
	height: 7.933px;
	left: 5.712px;
	top: 5.69px;
	transform: matrix(1,0,0,1,0,0);
}