.mediaViewInfo {
	--web-view-name: Web 1920 – 11;
	--web-view-id: Web_1920__11;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__11;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__11 {
	position: absolute;
	width: 1920px;
	height: 2463px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 11;
	--web-view-id: Web_1920__11;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_3_df {
	fill: rgba(255,255,255,1);
	stroke: rgba(239,239,239,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_df {
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 124px;
	left: 0px;
	top: 0px;
}
#Services_df {
	left: 1144px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Web_1920___5.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,34,34,1);
	text-transform: uppercase;
}
#Home_df {
	left: 1044px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Web_1920___2.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,34,34,1);
	text-transform: uppercase;
}
#Organization_df {
	left: 1277px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Web_1920___7.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,34,34,1);
	text-transform: uppercase;
}
#Vacancies_df {
	left: 1465px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	transition: all 0.3s linear;
	--web-animation: fadein 0.3s linear;
	--web-action-type: page;
	--web-action-target: Web_1920___9.html;
	cursor: pointer;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,34,34,1);
	text-transform: uppercase;
}
#Contact_dga {
	left: 1620px;
	top: 48px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(69,98,219,1);
	text-transform: uppercase;
}
#Rectangle_5_dgb {
	fill: rgba(69,98,219,1);
}
.Rectangle_5_dgb {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 7px;
	left: 1661px;
	top: 89px;
}
#lets_talk {
	left: 200px;
	top: 453px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 55px;
	color: rgba(69,98,219,1);
	text-transform: capitalize;
}
#Are_we_the_right_match_Contact {
	left: 200px;
	top: 544px;
	position: absolute;
	overflow: visible;
	width: 723px;
	height: 110px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(34,34,34,1);
}
#Contact_dge {
	left: 200px;
	top: 404px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -22.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(34,34,34,1);
}
#Rectangle_690 {
	fill: rgba(250,250,255,1);
}
.Rectangle_690 {
	position: absolute;
	overflow: visible;
	width: 512px;
	height: 730px;
	left: 1408px;
	top: 164px;
}
#austin-distel-wawEfYdpkag-unsp_dgg {
	fill: rgba(69,98,219,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.austin-distel-wawEfYdpkag-unsp_dgg {
	filter: drop-shadow(0px 20px 50px rgba(69, 98, 219, 0.22));
	width: 44px;
	height: 44px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,1130,279) rotate(90deg);
	transform-origin: center;
}
#austin-distel-wawEfYdpkag-unsp_dgh {
	fill: rgba(69,98,219,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 6px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.austin-distel-wawEfYdpkag-unsp_dgh {
	filter: drop-shadow(0px 20px 50px rgba(69, 98, 219, 0.22));
	width: 34px;
	height: 34px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,1185,313) rotate(90deg);
	transform-origin: center;
}
#Groupe_18661_dgi {
	opacity: 0.257;
	position: absolute;
	width: 36px;
	height: 62px;
	left: 942px;
	top: 969px;
	overflow: visible;
}
#Rectangle_105_dgj {
	fill: rgba(250,250,255,1);
	stroke: rgba(95,120,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_105_dgj {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 62px;
	left: 0px;
	top: 0px;
}
#Trac_260_dgk {
	fill: transparent;
	stroke: rgba(95,120,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_260_dgk {
	overflow: visible;
	position: absolute;
	width: 15.124px;
	height: 8.812px;
	left: 12.58px;
	top: 40.332px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_261_dgl {
	fill: transparent;
	stroke: rgba(95,120,234,1);
	stroke-width: 2.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Trac_261_dgl {
	overflow: visible;
	position: absolute;
	width: 15.124px;
	height: 8.812px;
	left: 12.58px;
	top: 31px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_18681_dgm {
	position: absolute;
	width: 1139px;
	height: 153px;
	left: 391px;
	top: 2032.864px;
	overflow: visible;
}
#Open_application_dgn {
	left: 371px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 399px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -12.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	color: rgba(255,255,255,1);
	text-transform: capitalize;
}
#The_match4markets_team_is_mult_dgo {
	left: 0px;
	top: 71px;
	position: absolute;
	overflow: visible;
	width: 1140px;
	height: 82px;
	line-height: 35px;
	margin-top: -7.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Artwork_37 {
	position: absolute;
	width: 840.068px;
	height: 431.894px;
	left: 960px;
	top: 313.053px;
	overflow: visible;
}
#Groupe_18777 {
	mix-blend-mode: normal;
	position: absolute;
	width: 840.068px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Layer_1 {
	position: absolute;
	width: 840.068px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18778 {
	position: absolute;
	width: 840.068px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18692 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18693 {
	position: absolute;
	width: 756.376px;
	height: 431.796px;
	left: 59.028px;
	top: 0.065px;
	overflow: visible;
}
#Groupe_18696 {
	position: absolute;
	width: 68.751px;
	height: 93.059px;
	left: 627.558px;
	top: 337.109px;
	overflow: visible;
}
#Groupe_18697 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18698 {
	position: absolute;
	width: 76.441px;
	height: 93.254px;
	left: 688.88px;
	top: 336.979px;
	overflow: visible;
}
#Groupe_18699 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18700 {
	position: absolute;
	width: 68.751px;
	height: 93.059px;
	left: 323.88px;
	top: 337.109px;
	overflow: visible;
}
#Groupe_18701 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18702 {
	position: absolute;
	width: 76.441px;
	height: 93.189px;
	left: 385.202px;
	top: 336.979px;
	overflow: visible;
}
#Groupe_18705 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18706 {
	position: absolute;
	width: 3.519px;
	height: 4.366px;
	left: 63.799px;
	top: 381.423px;
	overflow: visible;
}
#Groupe_18707 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18708 {
	position: absolute;
	width: 48.615px;
	height: 5.891px;
	left: 44.835px;
	top: 377.578px;
	overflow: visible;
}
#Groupe_18709 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18710 {
	position: absolute;
	width: 48.679px;
	height: 39.296px;
	left: 662.638px;
	top: 205.016px;
	overflow: visible;
}
#Groupe_18711 {
	position: absolute;
	width: 74.402px;
	height: 129.544px;
	left: 685.273px;
	top: 183.119px;
	overflow: visible;
}
#Groupe_18712 {
	position: absolute;
	width: 15.184px;
	height: 5.735px;
	left: 710.125px;
	top: 183.119px;
	overflow: visible;
}
#Groupe_18716 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18717 {
	position: absolute;
	width: 36.217px;
	height: 42.488px;
	left: 731.515px;
	top: 206.71px;
	overflow: visible;
}
#Groupe_18718 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18719 {
	position: absolute;
	width: 25.741px;
	height: 39.556px;
	left: 394.782px;
	top: 204.038px;
	overflow: visible;
}
#Groupe_18720 {
	position: absolute;
	width: 15.575px;
	height: 5.8px;
	left: 399.083px;
	top: 184.488px;
	overflow: visible;
}
#Groupe_18721 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18722 {
	position: absolute;
	width: 7.56px;
	height: 1.238px;
	left: 353.792px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18723 {
	position: absolute;
	width: 7.56px;
	height: 1.238px;
	left: 344.668px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18724 {
	position: absolute;
	width: 7.56px;
	height: 1.238px;
	left: 335.479px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18725 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 326.356px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18726 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 318.732px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18727 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 313.323px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18728 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 308.305px;
	top: 274.744px;
	overflow: visible;
}
#Groupe_18729 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18730 {
	position: absolute;
	width: 7.494px;
	height: 1.173px;
	left: 657.73px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18731 {
	position: absolute;
	width: 7.494px;
	height: 1.173px;
	left: 648.737px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18732 {
	position: absolute;
	width: 7.494px;
	height: 1.173px;
	left: 639.744px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18733 {
	position: absolute;
	width: 7.494px;
	height: 1.181px;
	left: 630.687px;
	top: 274.866px;
	overflow: visible;
}
#Groupe_18734 {
	position: absolute;
	width: 4.366px;
	height: 1.173px;
	left: 623.192px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18735 {
	position: absolute;
	width: 4.366px;
	height: 1.173px;
	left: 617.914px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18736 {
	position: absolute;
	width: 4.366px;
	height: 1.173px;
	left: 612.896px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18737 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18738 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 580.508px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18739 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 589.631px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18740 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 598.754px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18741 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 607.943px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18742 {
	position: absolute;
	width: 4.432px;
	height: 1.238px;
	left: 618.695px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18743 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 624.104px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18744 {
	position: absolute;
	width: 4.432px;
	height: 1.238px;
	left: 629.188px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18745 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18746 {
	position: absolute;
	width: 61.874px;
	height: 91.82px;
	left: 556.561px;
	top: 311.563px;
	overflow: visible;
}
#Groupe_18747 {
	position: absolute;
	width: 42.033px;
	height: 81.557px;
	left: 554.05px;
	top: 321.86px;
	overflow: visible;
}
#Groupe_18748 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18749 {
	position: absolute;
	width: 119.333px;
	height: 42.621px;
	left: 477.812px;
	top: 281.978px;
	overflow: visible;
}
#Groupe_18753 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18754 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 272.268px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18755 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 281.391px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18756 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 290.58px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18757 {
	position: absolute;
	width: 7.625px;
	height: 1.238px;
	left: 299.703px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18758 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 310.456px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18759 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 315.864px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18760 {
	position: absolute;
	width: 4.431px;
	height: 1.238px;
	left: 320.947px;
	top: 274.875px;
	overflow: visible;
}
#Groupe_18761 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18762 {
	position: absolute;
	width: 128.826px;
	height: 79.374px;
	left: 170.812px;
	top: 281.913px;
	overflow: visible;
}
#Groupe_18766 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18767 {
	position: absolute;
	width: 72.596px;
	height: 86.864px;
	left: 171.102px;
	top: 202.865px;
	overflow: visible;
}
#Groupe_18771 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18772 {
	position: absolute;
	width: 49.288px;
	height: 75.297px;
	left: 227.038px;
	top: 203.443px;
	overflow: visible;
}
#Groupe_18773 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18774 {
	position: absolute;
	width: 60.586px;
	height: 18.954px;
	left: 260.397px;
	top: 260.407px;
	overflow: visible;
}
#Groupe_18775 {
	position: absolute;
	width: 840.067px;
	height: 431.894px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Groupe_18656_dip {
	position: absolute;
	width: 1920px;
	height: 293px;
	left: 0px;
	top: 2141px;
	overflow: visible;
}
#Rectangle_352_diq {
	fill: rgba(48,47,101,1);
}
.Rectangle_352_diq {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 243px;
	left: 0px;
	top: 0px;
}
#Lorem_Ipsum_is_simply_dummy_te_dir {
	left: 200px;
	top: 124px;
	position: absolute;
	overflow: visible;
	width: 735px;
	height: 56px;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#n_2021_Match4Markets_dis {
	left: 849px;
	top: 265px;
	position: absolute;
	overflow: visible;
	width: 223px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(38,38,38,1);
}
#Logo_here_dit {
	opacity: 0.278;
	left: 200px;
	top: 59px;
	position: absolute;
	overflow: visible;
	width: 221px;
	white-space: nowrap;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(255,255,255,1);
	text-transform: uppercase;
}
#Rectangle_353_diu {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_353_diu {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 1480px;
	top: 90px;
}
#Rectangle_354_div {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_354_div {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 1566px;
	top: 90px;
}
#Rectangle_355_diw {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_355_diw {
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 1652px;
	top: 90px;
}
#facebook_1_dix {
	fill: rgba(255,255,255,1);
}
.facebook_1_dix {
	overflow: visible;
	position: absolute;
	width: 12.001px;
	height: 24px;
	left: 1509px;
	top: 112px;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin_diy {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 1589px;
	top: 112px;
	overflow: visible;
}
#Trac_1002_diz {
	fill: rgba(255,255,255,1);
}
.Trac_1002_diz {
	overflow: visible;
	position: absolute;
	width: 15.511px;
	height: 16.426px;
	left: 8.489px;
	top: 7.574px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1003_di {
	fill: rgba(255,255,255,1);
}
.Trac_1003_di {
	overflow: visible;
	position: absolute;
	width: 4.976px;
	height: 16.023px;
	left: 0.396px;
	top: 7.977px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_1004_di {
	fill: rgba(255,255,255,1);
}
.Trac_1004_di {
	overflow: visible;
	position: absolute;
	width: 5.764px;
	height: 5.791px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter_di {
	position: absolute;
	width: 28.308px;
	height: 23px;
	left: 1674.846px;
	top: 113px;
	overflow: visible;
}
#Groupe_617_di {
	position: absolute;
	width: 28.308px;
	height: 23px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_1005_di {
	fill: rgba(255,255,255,1);
}
.Trac_1005_di {
	overflow: visible;
	position: absolute;
	width: 28.308px;
	height: 23px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_697_dja {
	fill: url(#Rectangle_697_dja);
}
.Rectangle_697_dja {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1064px;
	left: 0px;
	top: 1077px;
}
#Rectangle_4_di {
	fill: rgba(255,255,255,1);
}
.Rectangle_4_di {
	filter: drop-shadow(0px 20px 99px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 1283px;
	height: 1007px;
	left: 467px;
	top: 1336px;
}
#Composant_7__39 {
	position: absolute;
	width: 420px;
	height: 65px;
	left: 515px;
	top: 1465px;
	overflow: visible;
}
#Rectangle_103_di {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_di {
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Name_dja {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 64px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__41 {
	position: absolute;
	width: 420px;
	height: 65px;
	left: 515px;
	top: 1694px;
	overflow: visible;
}
#Rectangle_103_djc {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_djc {
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Job_Offer {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__43 {
	position: absolute;
	width: 893px;
	height: 65px;
	left: 515px;
	top: 1810px;
	overflow: visible;
}
#Rectangle_103_djf {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_djf {
	position: absolute;
	overflow: visible;
	width: 893px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Job_Offer_djg {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Composant_7__42 {
	position: absolute;
	width: 420px;
	height: 65px;
	left: 515px;
	top: 1578px;
	overflow: visible;
}
#Rectangle_103_dji {
	fill: rgba(255,255,255,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_103_dji {
	position: absolute;
	overflow: visible;
	width: 420px;
	height: 65px;
	left: 0px;
	top: 0px;
}
#Email_address_djj {
	left: 25px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Contact_form {
	left: 515px;
	top: 1368px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -20px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(34,34,34,1);
}
#Rectangle_699 {
	fill: rgba(248,248,248,1);
	stroke: rgba(232,232,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_699 {
	position: absolute;
	overflow: visible;
	width: 450px;
	height: 297px;
	left: 958px;
	top: 1462px;
}
#Enter_Description_here_ {
	left: 986px;
	top: 1485px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -26px;
	text-align: left;
	font-family: Poppins;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	color: rgba(129,129,129,1);
}
#Full_name {
	left: 515px;
	top: 1442px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -28px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
	text-transform: capitalize;
}
#Email_Address {
	left: 515px;
	top: 1558px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -28px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
	text-transform: capitalize;
}
#Phone_number {
	left: 515px;
	top: 1671px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -28px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
	text-transform: capitalize;
}
#Phone_number_djq {
	left: 515px;
	top: 1787px;
	position: absolute;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -28px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(34,34,34,1);
	text-transform: capitalize;
}
#Composant_8__4 {
	position: absolute;
	width: 300px;
	height: 80px;
	left: 1108px;
	top: 1918px;
	overflow: visible;
}
#Rectangle_684_djt {
	fill: url(#Rectangle_684_djt);
}
.Rectangle_684_djt {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 80px;
	left: 0px;
	top: 0px;
}
#Send_Message {
	left: 77px;
	top: 26px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	line-height: 70px;
	margin-top: -25px;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Polygone_7 {
	fill: rgba(34,34,34,1);
}
.Polygone_7 {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 11px;
	transform: matrix(1,0,0,1,1364,1837) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Composant_8__12 {
	position: absolute;
	width: 300px;
	height: 160px;
	left: 467px;
	top: 1119.401px;
	overflow: visible;
}
#Rectangle_684_djx {
	fill: rgba(92,124,238,1);
	stroke: rgba(88,115,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_684_djx {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#Groupe_18780 {
	position: absolute;
	width: 44.803px;
	height: 44.803px;
	left: 128px;
	top: 23.049px;
	overflow: visible;
}
#Trac_59607 {
	fill: transparent;
}
.Trac_59607 {
	overflow: visible;
	position: absolute;
	width: 44.803px;
	height: 44.803px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59608 {
	fill: rgba(255,255,255,1);
}
.Trac_59608 {
	overflow: visible;
	position: absolute;
	width: 33.602px;
	height: 40.561px;
	left: 5.601px;
	top: 3.734px;
	transform: matrix(1,0,0,1,0,0);
}
#Bargelaan_16_2333_CT_Leiden_-_ {
	left: 23px;
	top: 84.951px;
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 48px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Composant_8__13 {
	position: absolute;
	width: 300px;
	height: 160px;
	left: 1153px;
	top: 1119.401px;
	overflow: visible;
}
#Rectangle_857 {
	fill: rgba(255,174,105,1);
}
.Rectangle_857 {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#infomatch4marketscom {
	left: 23px;
	top: 95.95px;
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 23px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#email_1 {
	position: absolute;
	width: 46.825px;
	height: 33.364px;
	left: 126.587px;
	top: 36.917px;
	overflow: visible;
}
#Trac_59610 {
	fill: rgba(255,255,255,1);
}
.Trac_59610 {
	overflow: visible;
	position: absolute;
	width: 14.29px;
	height: 27.098px;
	left: 32.536px;
	top: 3.198px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59611 {
	fill: rgba(255,255,255,1);
}
.Trac_59611 {
	overflow: visible;
	position: absolute;
	width: 42.936px;
	height: 14.278px;
	left: 2.24px;
	top: 19.086px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59612 {
	fill: rgba(255,255,255,1);
}
.Trac_59612 {
	overflow: visible;
	position: absolute;
	width: 44.007px;
	height: 21.498px;
	left: 1.247px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59613 {
	fill: rgba(255,255,255,1);
}
.Trac_59613 {
	overflow: visible;
	position: absolute;
	width: 14.331px;
	height: 27.004px;
	left: 0px;
	top: 3.869px;
	transform: matrix(1,0,0,1,0,0);
}
#Composant_8__21 {
	position: absolute;
	width: 300px;
	height: 160px;
	left: 810px;
	top: 1119.401px;
	overflow: visible;
}
#Rectangle_684_dkb {
	fill: rgba(92,124,238,1);
	stroke: rgba(88,115,232,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_684_dkb {
	position: absolute;
	overflow: visible;
	width: 300px;
	height: 160px;
	left: 0px;
	top: 0px;
}
#n_1_071_568_00_21 {
	left: 23px;
	top: 95.951px;
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 23px;
	line-height: 25px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#call_1 {
	position: absolute;
	width: 36.001px;
	height: 36.001px;
	left: 132px;
	top: 35.599px;
	overflow: visible;
}
#Groupe_18781 {
	position: absolute;
	width: 36.001px;
	height: 36.001px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Trac_59609 {
	fill: rgba(255,255,255,1);
}
.Trac_59609 {
	overflow: visible;
	position: absolute;
	width: 36.001px;
	height: 36.001px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Composant_18__4 {
	position: absolute;
	width: 276.436px;
	height: 30.724px;
	left: 199.999px;
	top: 46.639px;
	overflow: visible;
}
#Union_1_dki {
	fill: url(#Union_1_dki);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Union_1_dki {
	overflow: visible;
	position: absolute;
	width: 215.266px;
	height: 31.724px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_18822_dkj {
	position: absolute;
	width: 58.315px;
	height: 30.169px;
	left: 218.121px;
	top: 0.277px;
	overflow: visible;
}
#Trac_59624_dkk {
	fill: rgba(59,59,59,1);
}
.Trac_59624_dkk {
	overflow: visible;
	position: absolute;
	width: 20.448px;
	height: 30.169px;
	left: 37.867px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trac_59625_dkl {
	fill: rgba(59,59,59,1);
}
.Trac_59625_dkl {
	overflow: visible;
	position: absolute;
	width: 20.448px;
	height: 30.169px;
	left: 17.835px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_877_dkm {
	fill: rgba(59,59,59,1);
}
.Rectangle_877_dkm {
	position: absolute;
	overflow: visible;
	width: 16.525px;
	height: 2.957px;
	left: 2.938px;
	top: 8.846px;
}
#Rectangle_878_dkn {
	fill: rgba(59,59,59,1);
}
.Rectangle_878_dkn {
	position: absolute;
	overflow: visible;
	width: 11.688px;
	height: 2.765px;
	left: 0px;
	top: 13.824px;
}
#Rectangle_879_dko {
	fill: rgba(59,59,59,1);
}
.Rectangle_879_dko {
	position: absolute;
	overflow: visible;
	width: 7.683px;
	height: 2.572px;
	left: 4.004px;
	top: 18.61px;
}
#Trac_59626_dkp {
	fill: rgba(59,59,59,1);
}
.Trac_59626_dkp {
	overflow: visible;
	position: absolute;
	width: 16.165px;
	height: 12.335px;
	left: 8.881px;
	top: 8.847px;
	transform: matrix(1,0,0,1,0,0);
}